@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

html,
body,
header {
	font-family: "Dancing Script", cursive;
}

.change-background-image {
	background-image: url(./Fun-Vegan-Appetizers.jpg);
}

.change-margin-up {
	height: 400px;
}

.our-mission-h2-tag {
	background-color: aliceblue;
}

.our-mission-p-tag {
	background-color: aliceblue;
	font-size: 20px;
}
